@import url('http://fonts.cdnfonts.com/css/league-spartan');


body{
    background-color: #1c1d25;
    margin: 0;
    counter-reset: contador;
}

#top{
    height: 600px;
    /* margin-bottom: 20px; */
}

.logo{
    float: left;
    margin-left: 6%;
    margin-right: 45%;
    width: 80px;
    height: 52px;
}

.navbar{
    width: 100%;
    margin-top: 6px;
}
.contenedor-nav{
    width: 95%;
}


.listaLinks{
    float: right;
    position: relative;
    margin: 0;
    padding: 0;
    top: 30px;
    right: 5%;
    list-style: none;
}
.listaLinks > li{
    display: inline-block;
    margin-left: 25px;
}

.linksPagina > a{
    display: block;
    position: relative;
    color: #b0b2c3;
    font-family: League Spartan, Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 10px 0;
    text-decoration: none;
}

.enlaces{
    color: #b0b2c3;
    font-family: League Spartan, Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 10px 0;
}

a{
    background-color: transparent;
    text-decoration: none;
}
.logoCentral{
    width: 25%;
    margin: 0;
    padding: 0;
    margin-left: 10%;
}

.centro{
    position: relative;
    display: inline-block;
    text-align: center;
    /* top: 110px; */
    margin-top: 110px;
}
.textoCentral{
    /* position: absolute; */
    left: 12%;
    top: 40px;
}
#diego{
    position: absolute;
    color: white;
    font-family: League Spartan, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 60px;
    margin: 0;
    top: 15%;
    left: 15%;
}
#skills{
    position: absolute;
    color: white;
    font-family: LibreBaskerville-Regular,Palatino Linotype,Times New Roman,serif;
    top:4px;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    text-align: left;
    padding-left: 2px;
    margin-top: 0;
    top: 45%;
    left: 15%;
}

.botonAbout{
    position: absolute;
    top: 70%;
    left: 15%;
}

#boton1{
    background: linear-gradient(270deg,#f06449,#ef3636);
    color: white;
    font-family: League Spartan,Helvetica,Arial,sans-serif;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: 400;
    width: 120%;
    height: 45px;
    border: 0;

}
/* .redes{
    position: absolute;
    left: 97%;
    top: 30%;
}
.listaRedes{
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
}
.listaRedes > li{
    padding-top: 20px;
}
.imgRedes{
    width: 25px;
} */


/* REDES SOCIALES FIJAS */
.social-img{
    width: 25px;
}
.social{
    position: fixed;
    left: 93%;
    top: 30%;
    z-index: 2000;
}
.social ul{
    list-style: none;
}
.social ul li a{
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
}
.social::after{
    content: "";
    display: block;
    width: 1px;
    height: 210px;   
    margin: 0px 70%;
    background-color:#b0b2c3;
}

/* IMAGENES ANIMADAS */

.imagenes{
    width: 25px;
    position: absolute;
}
/* TRIANGULOS */
#triangulo1{
    left: 92%;
    top: 13%;
}
#triangulo2{
    left: 75%;
    top: 74%;
}
#triangulo3{
    left: 5%;
    top: 32%;
}

/* CUADRADOS */
#cuadrado1{
    left: 89%;
    top: 20%;
}
#cuadrado2{
    left: 72.5%;
    top: 80%;
}
#cuadrado3{
    left: 2.5%;
    top: 38%;
}

/* CIRCULOS */
#circulo1{
    left: 95%;
    top: 20%;
}
#circulo2{
    left: 77.5%;
    top: 80%;
}
#circulo3{
    left: 7%;
    top: 38%;
}

/* EQUIS */
#equis1{
    left: 92%;
    top: 27%;
}
#equis2{
    left: 75%;
    top: 86%;
}
#equis3{
    left: 5%;
    top: 44%;
}


#sobreMi{
    position: absolute;
    left: 50%;
    margin-top: 11%;
    color: white;
    font-family: LibreBaskerville-Regular,Palatino Linotype,Times New Roman,serif;
    letter-spacing: 1px;
    font-size: 15px;
}

/* MEDIO */

.seccion-about{
    background-color: white;
    padding: 100px 50px 0 17%;
    height: 580px;
}

h2{
    display: inline-block;
    position: relative;
}

.titulos-secciones{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 10px 0px 40px;
    font-family: League Spartan,Helvetica,Arial,sans-serif;
    color: #0379D6;
    white-space: nowrap;
}

.titulos-secciones::before{
    position: relative;
    counter-increment: contador;
    content: "0" counter(contador) ".";
    margin-right: 10px;
    color: #0379D6;
}
.titulos-secciones::after{
    content: "";
    display: block;
    position: relative;
    margin-left: 20px;
    height: 1px;
    width: 315px;
    background-color: #0379D6;
}

.conteiner-sobreMi{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
#parrafoAbout{
    font-family: LibreBaskerville-Regular,Palatino Linotype,Times New Roman,serif;
    max-width: 80%;
    font-size: 19px;
}

#img-perfil{
    margin-top: 40px;
    width: 60%;
    border-radius: 40px;
    border: solid 2px;
    border-color: #0379D6;
}
#logo-perfil{
    position: absolute;
    width: 7%;
    left: 81%;
    padding-top: 2%;
}

.seccion-estudios{
    background-color: #1C1D25;
    padding: 100px 250px 0 23%;
    height: 580px;
}

.caja-estudios{
    display: flex;
    color: white;
    font-family: LibreBaskerville-Regular,Palatino Linotype,Times New Roman,serif;
    color: #94959C;
}
.listado-estudios{
    position: relative;
    z-index: 3;
    width: max-content;
    padding: 0;
    margin: 0;
    list-style: none;
}   

.botonEstudio{
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 42px;
    padding: 0px 20px 2px;
    border-left: 2px solid white;
    color: white;
    background-color: transparent;
    text-align: left;
    white-space: nowrap;
    font-family: LibreBaskerville-Regular,Palatino Linotype,Times New Roman,serif;
    font-size: 15px;
}

button{
    cursor: pointer;
    border: 0px;
}

.contenido-secciones{
    position: relative;
    width: 100%;
    margin-left: 20px;
}
#listaEstudio:root{
    color:#0379D6;
}

#listaEstudio{
    list-style: none;
}
.bloqueLista{
    border-left: 1px solid;
    border-color:#0379D6;
    width: 75%;
    padding: 10px;

}
.tituloEstudio{
    margin: 0;
    font-size: 22px;
    color: white;
}
.tituloEstudio a{
    text-decoration: none;
    color: #0379D6;
    
}
.subtituloEstudio{
    margin: 0;
    padding-top: 5px;
    font-size: 15px;
}

/*  ESTILOS RELACIONADOS CON LOS EVENTOS DE LOS BOTONES */
#facultad{
    display: block;
}
#cursoDW{
    display: none;
}
#argentinaPrograma{
    display: none;
}


/* ANIMACIONES */
